<body id="page-top" class="index" data-pinterest-extension-installed="cr1.3.4">

  <!-- Footer Section -->
      <!-- Site footer -->
      <footer class="site-footer bg-dark">
        <div class="container">
          <div class="row">
            <div class="col-xs-6 col-md-3">
              <h6>About NinoStyle</h6>
              <ul class="footer-links">
                <li><a routerLink="#">Contact Us</a></li>
                <li><a routerLink="#">About Us</a></li>
                <li><a routerLink="#">Careers</a></li>
                <li><a routerLink="#">Our Blog</a></li>
                <li><a routerLink="#">Terms & Conditions</a></li>
              </ul>
            </div>

            <div class="col-xs-6 col-md-3">
              <h6>payment</h6>
              <ul class="footer-links">
                <li><a routerLink="#">NinoPay</a></li>
                <li><a routerLink="#">Wallet</a></li>
                <li><a routerLink="#">Verve</a></li>
                <li><a routerLink="#">Mastercard</a></li>
                <li><a routerLink="#">Visa</a></li>
              </ul>
            </div>

            <div class="col-xs-6 col-md-3">
              <h6>Buying on NinoStyle</h6>
              <ul class="footer-links">
                <li><a routerLink="#">Buyer Safety Centre</a></li>
                <li><a routerLink="#">FAQs</a></li>
                <li><a routerLink="#">Delivery</a></li>
                <li><a routerLink="#">Ninostyle Return Policy</a></li>
                <li><a routerLink="#">Bulk Purchase</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
           <a href="#">Ninostyle</a>.
              </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="facebook" href="http://www.facebook.com/Ninostyle-976132015873304"  target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="http://www.twitter.com/Ninostyle" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a class="dribbble" href="https://www.instagram.com" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                <li><a class="linkedin" href="http://www.linkedin.com" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
  </footer>
</body>
