<div>
  <div class="jumbotron text-center text-white bg-secondary">
    <div>
      <h1 class="display-4">Welcome to NinoStyle</h1>
      <h3 class="lead">Your no 1 online shopping store </h3>
      <hr class="my-4">
      <h3><em class="text-dark">Black</em> Friday is here</h3>
      <a routerLink="/products"><p class="text-info">Place your orders right away</p></a>
    </div>
  </div>
  <div class="container">
    <h3 class="container text center my-5">Recommended for You</h3>
    <div class="container d-flex mb-5">
      <a routerLink="/products">
        <div class="card" style="width: 18rem;">
          <img src="https://images.unsplash.com/photo-1604532081136-b157aa1729e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="image">
          <div class="card-body">
            <p class="card-text text-secondary">Black Friday</p>
          </div>
        </div>
      </a>
      <a routerLink="/products">
        <div class="card mx-3 md:mx-5" style="width: 18rem;">
          <img src="https://images.unsplash.com/photo-1604532081136-b157aa1729e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="image">
          <div class="card-body">
            <p class="card-text text-secondary">Black Friday</p>
          </div>
        </div>
      </a>
      <a routerLink="/products">
        <div class="card" style="width: 18rem;">
          <img src="https://images.unsplash.com/photo-1604532081136-b157aa1729e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="image">
          <div class="card-body">
            <p class="card-text text-secondary">Black Friday</p>
          </div>
        </div>
      </a>
    </div>
    <h3>Online Shopping on NinoStyle.com – Nigeria’s Largest Online Fashion Mall</h3>
    <p class="mb-5 text-justify">NinoStyle.com is Nigeria’s number one online Fashion Shopping destination. We pride ourselves in having everything you could possibly need for life and living at the best prices than anywhere else.
      Our access to Original Product Manufacturers and premium sellers gives us a wide range of products at very low prices. Some of our popular categories include footwears, clothes, watches, and a whole
      lot more from premium brands. To make your shopping experience swift and memorable, there are also added services like gift vouchers, consumer promotion activities across different categories and bulk
      purchases with hassle-free delivery. Enjoy free shipping rates for certain products and with the bulk purchase option, you can enjoy low shipping rates, discounted prices and flexible payment. When you
      shop on our platform, you can pay with your debit card or via NinoPay, which is a convenient and secured payment solution. Get the best of lifestyle services online. Don't miss out on the biggest sales
      online which takes place on special dates yearly.
    </p>
  </div>
</div>

